{
    "WC": {
        "XY": {
            "url": "https://www.xyxyxy.com",
            "consumer_key": "ck_4654365176817686541615487148736687146187",
            "consumer_secret": "cs_35465436487687149148764871368757"
        },
    
        "ZZ": {
            "url": "https://www.ZZZZZZZZZZ.eu",
            "consumer_key": "ck_4654365176817686541615487148736687146187",
            "consumer_secret": "cs_35465436487687149148764871368757"
        }
    },
    "Stripe": [
        {
            "name": "XY",
            "key": "sk_live_klsdjfölkLKklasdf98"
        },
        {
            "name": "ZZ",
            "key": "sk_live_LKJHFKUJhzsdfjknsefiuo88"
        }
    ]
}